<table class="styled-table">
    <thead>
        <tr>
            <th>#</th>
            <th>اسم الشعبة</th>
            <th>صفوف</th>
            <th>إجمالي الطلاب</th>
            <th>ملاحظة</th>
            <th>الحالة</th>
            <th style="padding-left: 33px; padding-right: 33px;">العملية</th>
        </tr>
    </thead>
</table>